.fieldset
{
    border:2px solid gainsboro ;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
    text-align: inherit;
    text-decoration: none;
    white-space:inherit;

}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

.dropdown-list{
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space:inherit;
    border: 2;
}



html,
body {
    height: 100%;
    overflow: hidden;
}
 
body {
    font-family: "Poppins", sans-serif;
    background: #fff;
    font-size: 0.8rem;
    line-height: 1.5;
    color: rgb(56, 56, 56);
}
 
