.fieldset
{
    border:2px solid gainsboro ;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
    text-align: inherit;
    text-decoration: none;
    white-space:inherit;

}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

.dropdown-list{
    display: block;
    padding: 0.25rem 1rem;
    clear: both;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space:inherit;
    border: 2;
}



html,
body {
    height: 100%;
    overflow: hidden;
}
 
body {
    font-family: "Poppins", sans-serif;
    background: #fff;
    font-size: 0.8rem;
    line-height: 1.5;
    color: rgb(56, 56, 56);
}
 
label {
    font-size: 1rem;
}
 
p {
    margin-bottom: 30px;
}
 
a {
    color: #5c51e0;
    outline: none;
    text-decoration: none;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
 
